
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif; /* or any clean sans-serif */
  background-color: #f4f7f6;
  color: #333;
  line-height: 1.6;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}


#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  max-width: none; 
  display: flex;
  flex-direction: column;
}

